@import 'src/assets/styles/variables.scss';

html,
body,
#root {
    height     : 100%;
    font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

}

body {
    background-color: $color__secondary--light;
    margin          : 0;
}

.cursor-pointer {
    cursor: pointer;
}

.h-100 {
    height: 100%;
}

.container {
    padding-right: 15px;
    padding-left : 15px;
    margin-right : auto;
    margin-left  : auto;
    width        : 90vw;

    @media (max-width: $breakpoint-tablet) {
        margin-right: 0;
        margin-left : 0;
        width       : calc(100vw - 30px);
    }
}