$color__primary          : #FFE600;
$color__secondary--dark  : #333333;
$color__secondary--medium: #999999;
$color__secondary--light : #EEEEEE;
$color__white            : #FFFFFF;
$color__button           : #3483FA;

$radius: 4px;

$separator: 16px;
$separator__medium : ($separator * 2);