@import 'src/assets/styles/variables.scss';

.not__found {
    border-radius   : $radius;
    background-color: $color__white;
    box-sizing      : border-box;
    padding         : $separator__medium;
    display         : flex;
    flex-direction  : column;
    justify-content : center;
    align-items     : center;

    &--message {
        color      : $color__secondary--medium;
        font-size  : 25px;
        font-weight: 400;
    }
}