@import 'src/assets/styles/variables.scss';

.product__detail {
    display           : grid;
    grid-template-rows: $separator auto;
    row-gap           : $separator;

    &--body {
        border-radius    : $radius;
        background-color : $color__white;
        box-sizing       : border-box;
        padding          : $separator__medium;
        display          : grid;
        column-gap       : $separator__medium;
        grid-auto-columns: 680px auto;
        grid-auto-rows   : auto min-content min-content min-content;

        @media (max-width: $breakpoint-small) {
            grid-auto-columns: 500px auto;
        }

        @media (max-width: $breakpoint-extra-small) {
            grid-auto-columns: 300px auto;
        }

        @media (max-width: $breakpoint-tablet) {
            padding          : $separator;
            grid-auto-columns: 100%;
            grid-auto-rows   : auto;
            gap              : $separator;
        }
    }

    .product__image {
        grid-column: 1;
    }

    &--data {
        grid-column: 2;

        @media (max-width: $breakpoint-tablet) {
            grid-column: 1;
        }

        &-condition {
            margin-bottom: $separator;
            font-size    : 14px;
        }

        &-title {
            margin-bottom: $separator__medium;
            font-size    : 24px;
        }

        &-price {
            margin-bottom    : $separator__medium;
            font-size        : 46px;
            grid-column      : 1;
            display          : grid;
            grid-auto-flow   : column;
            grid-auto-columns: min-content;
            gap              : $separator;
            align-items      : center;
        }
    }

    &--description-title {
        grid-column: 1/3;
        font-size  : 28px;
        margin     : $separator__medium 0;

        @media (max-width: $breakpoint-tablet) {
            grid-column: 1;
        }
    }

    &--description {
        grid-column  : 1/3;
        font-size    : 16px;
        margin       : 0;
        margin-bottom: $separator__medium;
        width        : 100%;

        @media (max-width: $breakpoint-tablet) {
            grid-column: 1;
        }
    }
}