@import 'src/assets/styles/variables.scss';

.product__item {
    border-bottom: 1px solid $color__secondary--light;

    &--link {
        text-decoration: none;
        color          : initial;
    }

    &--content {
        margin           : $separator 0;
        background-color : #FFF;
        display          : grid;
        row-gap          : $separator__medium;
        column-gap       : $separator;
        grid-auto-columns: 180px auto;
        grid-auto-rows   : 180px;

        @media (max-width: $breakpoint-tablet) {
            grid-auto-rows   : min-content;
            grid-auto-columns: auto;
        }
    }

    .product__image {
        grid-column: 1;

        @media (max-width: $breakpoint-tablet) {
            width : 180px;
            margin: auto;
        }
    }

    &--data {
        display          : grid;
        grid-auto-rows   : min-content;
        row-gap          : $separator__medium;
        grid-auto-columns: 1fr 200px 1fr;
        grid-column      : 2;

        @media (max-width: $breakpoint-tablet) {
            grid-column      : 1;
            grid-auto-columns: 1fr;
            row-gap          : $separator;
        }

        &-price {
            grid-column      : 1;
            font-size        : 24px;
            display          : grid;
            grid-auto-flow   : column;
            grid-auto-columns: min-content;
            gap              : 8px;
            align-items      : center;
        }

        &-location {
            grid-column: 2;
            font-size  : 12px;
            display    : flex;
            align-items: center;

            @media (max-width: $breakpoint-tablet) {
                grid-column: 1;
            }
        }

        &-title {
            font-size  : 18px;
            grid-column: 1 / 3;
            grid-row   : 2;
        }
    }
}